body,
html {
    margin: 0;
    padding: 0;
    background-color: #0e100f;
    color: #fffce1;
    box-sizing: border-box;

    .gallery-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .card {
            padding: 20px;
            cursor: pointer;
            img, iframe {
                width: 250px;
                height: 250px;
                object-fit: cover;
                object-position: top left;
                background-color: #fff;
            }
            .description {
                display: none;
            }
        }
    }
}

.popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: opacity 1s ease;
    &.active {
        display: block;
        opacity: 1;
    }
    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #777676;
        padding: 20px;
        text-align: center;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img {
                max-width: 100%; 
                max-height: 80vh; 
            }
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 50px;
            cursor: pointer;
        }
    }
}
